@import 'tailwindcss';

@theme {
	--font-vinograd: Vinograd, sans-serif;
	--font-caveat: Caveat, sans-serif;
	--font-sensei: Sensei, sans-serif;

	--color-pastel: #fff8e9;
	--color-accent: #ffafcc;
	--color-secondary: #a2d2ff;

	--text-default: 24px;
	--text-heading: 50px;
}

@layer base {
	body {
		@apply font-caveat text-secondary text-default;
		@apply bg-pastel px-[calc((100vw-320px)/2)] text-center leading-[100%];
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-accent text-heading font-vinograd text-center leading-[100%];
	}

    section, header, footer {
        @apply pt-[80px];
    }
}
